div.projects.card.clearfix
  div.card-header
    h2 {{ project.name }}

  div.card-body
    div.project.col-xs-12
      a.btn.btn-primary.pull-right(ng-show='project.href', href='{{"http://" + project.href}}', target='_blank')
        | View in production

      a.btn.btn-default.pull-right(ng-hide='project.href', disabled='true')
        | Not in Production

      a.btn.btn-default.pull-right(ng-show='project.git', href='{{"http://github.com/" + project.git}}', target='_blank')
        | Code
        span.fa.fa-github.margin-left

      p {{ project.description }}

      div.text-center.clearfix
          video(controls)
              source(ng-src="{{ project.screencap }}", type="video/mp4")
              | Your browser does not support the video tag.

      div.clearfix
          img.col-xs-12(ng-show='project.image', src='/images/projects/{{ project.image }}')

          div.col-xs-12
            h4 featuring
            ul.tech
              li(ng-repeat='tech in project.techs') {{ tech }}


