.navbar {
  min-height: 100px;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar .container-fluid {
  margin-top: 25px;
  font-size: 18px;
  padding: 0 30px;
}
.navbar .navbar-brand {
  font-size: 24px;
  margin-right: 20px;
}
.card,
.skills {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 0 10px;
  background: rgba(255,255,255,0.9);
  color: #303030;
}
.card .card-header,
.skills .card-header {
  border-bottom: solid 1px #fff;
  padding: 5px 20px 0 20px;
}
.card .card-body,
.skills .card-body {
  margin-top: 20px;
  padding: 0 40px;
}
html {
  height: 100%;
}
.background {
  background: -webkit-linear-gradient(top, #fff, #000);
  background: -moz-linear-gradient(top, #fff, #000);
  background: -o-linear-gradient(top, #fff, #000);
  background: -ms-linear-gradient(top, #fff, #000);
  background: linear-gradient(to bottom, #fff, #000);
  position: fixed;
  left: 0;
  right: 0;
  top: 55px;
  bottom: 0;
  z-index: 1;
}
.content {
  z-index: 2;
}
.content:before {
  background-image: url("/images/flowers.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: fixed;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  -webkit-filter: blur(0.5px);
}
.,
div {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.btn .fa.margin-left {
  margin-left: 10px;
}
.skills {
  text-align: center;
}
.skills .category .title {
  margin-bottom: 40px;
}
.skill-outer {
  width: 190px;
  display: inline-block;
  overflow: hidden;
}
.skill-inner {
  padding: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  height: 92px;
}
.skill-inner h4 {
  display: inline-block;
}
.skill-inner:hover {
  background: rgba(0,0,0,0.3);
}
.skill-inner a {
  color: #303030;
}
.skill-inner img {
  height: 40px;
  padding: 10px 20px;
  background: rgba(179,179,179,0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
.projects .project {
  padding: 20px;
}
.projects .project li {
  font-size: 16px;
}
.projects .project .btn {
  margin: 0 5px;
}
